<head>
    <title>Shopping List</title>
    <link rel="stylesheet" href="styles.css" type="text/css">
</head>
<body>
<h1>Shopping List</h1>

<form action='/shoppinglist' method='POST'>
    <input type="text" name="shoppinglist" />
    <input type="submit" />
</form>

<h3>Lists</h3>
<ul>
    {{#list}}
        <li>{{shoppinglist}}</li>
        <form action='/deleteList' method='POST'>
            <input type="hidden" name="listID" value='{{id}}' />
            <input type="submit" value="Delete" />
        </form>
    {{/list}}
</ul>
</body>